extends layout

block content
  h2.page-header Login
  p Please register using the form below
  div.errors
    if errors
      each error, i in errors
        div.alert.alert-danger #{error.msg}
  form(action="/users/login", method="post", enctype="multipart/form-data")
    .form-group
     label Name
     input.form-control(name="name", type="text", placeholder="Enter name")
    .form-group
     label Password
     input.form-control(name="password", type="password", placeholder="Enter password")
    input.btn.btn-primary(type="submit", name="submit", value="Login")
         
